<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true"/>
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <services>
      <service name="MyAPIservices.APIService" behaviorConfiguration="MyAPIServiceBehavior">
        <endpoint address="mex" binding="mexHttpBinding" name="mexMetaDataExchange" contract="IMetadataExchange"/>
        <endpoint address="basic" binding="basicHttpBinding" bindingConfiguration="" name="basicHttp" contract="MyAPIservices.IAPIService"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/MyAPIService/"/>
          </baseAddresses>
          <timeouts closeTimeout="00:00:30"/>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MyAPIServiceBehavior">
          <!-- To avoid disclosing metadata information, 
          set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False"/>
          <serviceThrottling maxConcurrentCalls="200" maxConcurrentSessions="200" maxConcurrentInstances="200"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
